mods/
journeymap/
servers.dat
saves/
usercache.json
usernamecache.json
resourcepacks/
modlist.html
reauth.toml
patchouli_data.json
logs/
local/
minecraftinstance.json
.curseclient
manifest.json
rhino.local.properties
servers.dat_old
config/contentcreatorintegration/*